<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Share and Eat</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="./scripts/app.js"></script>

</head>
<body>
  <header class="center-align">
    <h1 class="center-align teal-text">Share and Eat</h1>
  </header>

  <main>
    <div id="target" class="row">
      <h3 class="center-align">All Restaurants</h3>
      <div class="container row">
        <% for (let restaurant of restaurants) { %>
          <div class="col s4 image-style">
            <img src="<%=restaurant.image%>">
            <p><a href="/api/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></p>
          </div>
        <% } %>
      </div>
    </div>
  </main>

    </body>
    </html>