<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Serif|Open+Sans+Condensed:300|PT+Sans|Poppins|Rajdhani" rel="stylesheet">


  <title>Share and Eat</title>

</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red lighten-2">
        <a href="/" class="brand-logo"><img src="./images/S.png"></a>
        <ul class="right hide-on-med-and-down">
          <% if(!user) { %>
            <a href="/about" class="btn white black-text">About</a>
            <a href="/login" class="btn white black-text">Log In</a>
          <% } else { %>
            <a href="/api/users/<%=user.id%>"><%= user.username %></a>
            <a href="/logout" class="btn white black-text">Log Out</a>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>
  <div>
    <div class="row">
      <div class="col-md-9">
        <h2 class="login">Sign Up</h2>
        <br>
        <form method="POST" action="/signup">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" class="btn red lighten-2" value="Sign Up">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>